/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Start CSS */

/* Body */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 14px;
}

/* Navigation */

.navigation {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
}

.navigation .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1140px;
}

.navbar-brand img {
  width: 280px;
  height: auto;
  margin-top: -4px;
  padding: 14px 15px;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu a {
  display: block;
  padding: 30px;
  margin: 0;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1.5px;
  font-weight: 900;
  color: #000;
}

.menu a:hover {
  color: #c79538;
  transition: all 0.3s ease-in-out;
}

.menu .active {
  color: #c79538;
}

/* Hero */

.hero {
  background-image: url(img/index-main-image.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 730px;
}
.hero .container {
  width: 1140px;
  margin: 0 auto;
  padding: 300px 0;
}
.hero .text {
  width: 580px;
}
.hero h2 {
  font-size: 70px;
  font-weight: 800;
  font-family: "Lora", serif;
  line-height: 1.1em;
  margin: 15px 0;
}

.hero p {
  color: #4e4e4e;
  font-size: 25px;
  font-weight: 200;
  line-height: 1.1em;
}

/* Seguradoras */

.seguradoras {
  display: flex;
  margin: 0 auto;
  padding: 1.5% 8%;
  height: auto;
  width: auto;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: rgba(210, 210, 210, 0.7);
}

.seguradoras img {
  height: 10vh;
  max-width: 14%;
  width: auto;
  object-fit: contain;
}

/* Servicos */

.nossos-servicos {
  padding: 50px;
  text-align: center;
}

.nossos-servicos .container {
  margin: auto;
  width: 1170px;
}

.nossos-servicos h2 {
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #c79538;
}

.servicos-container {
  display: flex;
  justify-content: space-around;
}

.servico {
  width: 25%;
  padding: 0 15px;
}

.servico h3 {
  font-size: 24px;
  margin: 22px 0 11px;
  font-weight: 500;
}

.servico p {
  font-size: 14px;
  margin: 0 0 11px;
  color: #333;
  text-align: justify;
}

.servicos-container img {
  margin-top: 30px;
  border-radius: 5px;
  max-width: 100%;
}

/* Contato */

.contato {
  background: rgba(210, 210, 210, 0.7) no-repeat 90% 0;
  padding: 30px 0;
}

.contato .container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 1200px;
}

.contato h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 11px;
}

.contato p {
  font-size: 14px;
  color: #333;
  margin-bottom: 30px;
}

.contato p a {
  text-decoration: none;
  color: #333;
}

.contato p a:hover {
  color: #c79538;
  transition: all 0.1s ease-in-out;
}

.btn-contato {
  display: inline-block;
  padding: 20px;
  margin-top: 10px;
  background-color: #ff6b6b;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.btn-contato:hover {
  color: #000;
  transition: all 0.1s ease-in-out;
}

/* Rodape */

footer {
  background: #1d2333;
}

footer .container {
  display: flex;
  justify-content: space-between;
  width: 820px;
  margin: auto;
  padding: 30px 0;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

footer .text {
  display: flex;
  line-height: 2em;
}

footer .text p {
  line-height: 2em;
  margin-left: 10px;
}

footer .numero p {
  font-size: 18px;
  margin: 5px 0;
}

footer .email a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

footer .email a:hover {
  color: #48ceec;
}
