/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Start CSS */

html {
  scroll-behavior: smooth;
}

/* Body */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 14px;
}

.arrow-up a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  color: #ff6b6b;
}

/* Navigation */

.navigation {
  height: 12vh;
  background-color: #fff;
}

.navigation .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1140px;
  height: 100%;
}

.navbar-brand {
  max-width: 220px;
  margin-top: -4px;
  padding: 14px 15px;
}

.navbar-brand img {
  width: 100%;
  height: auto;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu a {
  display: block;
  padding: 30px;
  margin: 0;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1.5px;
  font-weight: 900;
  color: #000;
}

.menu a:hover {
  color: #c79538;
  transition: all 0.3s ease-in-out;
}

.menu .ativo {
  color: #c79538;
}

/* Hamburger menu */
.topnav {
  overflow: hidden;
  background-color: #fff;
  min-height: 7vh;
  position: relative;
  display: none;
}
.topnav img {
  max-height: 50px;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #000;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  display: block;
  font-weight: 400;
}

.topnav a.icon {
  background: #fff;
  display: block;
  position: absolute;
  right: 0;
  top: 10px;
}

/* Hero */

.hero {
  height: 73vh;
  padding: 120px 50px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.3)
    ),
    url(img/index-main-image.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .container {
  max-width: 1140px;
  margin: auto;
  max-height: 100%;
}
.hero .text {
  max-width: 580px;
}
.hero h2 {
  font-size: 70px;
  font-weight: 800;
  font-family: "Lora", serif;
  line-height: 1.1em;
  margin-bottom: 15px;
}

.hero p {
  color: #4e4e4e;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.1em;
  color: #000;
  margin-bottom: 20px;
}

/* Seguradoras */

.seguradoras {
  height: 15vh;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(210, 210, 210, 0.7);
}

.seguradoras img {
  max-height: 70px;
}

/* Quem Somos */

.quem-somos {
  padding: 50px;
  text-align: center;
}

.quem-somos .container {
  margin: auto;
  max-width: 1170px;
}

.quem-somos h2 {
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #c79538;
}

.quem-somos p {
  font-size: 14px;
  margin: 0 0 11px;
  color: #333;
  text-align: justify;
}

/* Servicos */

.nossos-servicos {
  padding: 50px 50px 100px;
  text-align: center;
}

.nossos-servicos .container {
  margin: auto;
  max-width: 1200px;
}

.nossos-servicos h2 {
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #c79538;
}

.servicos-container {
  display: flex;
  justify-content: space-around;
}

.servico {
  width: 25%;
  padding: 0 15px;
}

.servico h3 {
  font-size: 24px;
  margin: 22px 0 11px;
  font-weight: 500;
}

.servico p {
  font-size: 14px;
  margin: 0 0 11px;
  color: #333;
  text-align: justify;
}

.servicos-container img {
  margin-top: 30px;
  border-radius: 5px;
  width: 100%;
}

/* Contato */

.contato {
  background: rgba(210, 210, 210, 0.7) no-repeat 90% 0;
  padding: 50px;
}

.contato .container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1340px;
}

.contato h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 11px;
}

.contato p {
  font-size: 14px;
  color: #333;
  margin-bottom: 30px;
}

.contato p a {
  text-decoration: none;
  color: #333;
}

.contato p a:hover {
  color: #ff6b6b;
  transition: all 0.1s ease-in-out;
}

.btn-contato {
  display: inline-block;
  padding: 20px;
  margin-top: 10px;
  background-color: #ff6b6b;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.btn-contato:hover {
  color: #000;
  transition: all 0.1s ease-in-out;
}

/* Rodape */

footer {
  background: #1d2333;
  padding: 50px;
}

footer .container {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  padding: 0 100px;
  margin: auto;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

footer .text {
  margin-bottom: 15px;
}
footer .tel-fixo {
  margin-bottom: 5px;
}
footer .numero a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

footer .email a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

footer .email a:hover {
  color: #ff6b6b;
}
.tel-fixo i {
  margin-right: 10px;
}

.whatsapp i {
  margin-right: 10px;
  color: #fff;
  font-size: 26px;
}

.whatsapp i:hover {
  color: #ff6b6b;
}

/* Media queries */

@media (max-width: 992px) {
  .arrow-up a {
    display: none;
  }
  .navigation {
    display: none;
  }
  .topnav {
    display: block;
  }
  .hero {
    height: 77vh;
  }
  .seguradoras {
    padding: 10px 10px;
  }

  .servico {
    width: 50%;
  }
  .servicos-container {
    flex-wrap: wrap;
  }
  footer .container {
    padding: 0 30px;
  }
}

@media (max-width: 688px) {
  .topnav {
    min-height: 10vh;
  }
  .hero {
    height: 75vh;
    padding: 100px 30px;
  }
  .hero h2 {
    font-size: 50px;
  }
  .hero p {
    font-size: 16px;
  }

  .quem-somos {
    padding: 30px 30px;
  }
  .nossos-servicos {
    padding: 30px 30px;
  }
  .servico {
    width: 100%;
  }
  .servico p {
    text-align: center;
  }
  .contato {
    padding: 30px 30px;
  }
  .contato .container {
    flex-direction: column;
  }
  .contato h2 {
    text-align: center;
    line-height: normal;
  }
  .contato p {
    text-align: center;
  }
  .btn-contato {
    width: 100%;
    text-align: center;
  }
  footer {
    padding: 20px;
  }
  footer .container {
    padding: 0;
    flex-direction: column;
    text-align: center;
  }
  footer .email {
    margin-top: 20px;
  }
}
